<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>

<body>
    <h1>Dashboard</h1>
    <p>Bienvenido al dashboard
        <!--{{ session["login_user"] }}-->
    </p>

    <a href="{{ url_for('places') }}" name="placescreate" id="placescreate" onclick="places()">Mostrar todos los lugares</a>
    <br><br>

    <input type="number" name="tourid" id="tourid" onchange="cityIdOnChange()">
    <a href="" name="tourLink" id="tourLink" onclick="">Mostrar lugar seleccionado</a>
    <br><br>

    <a href="{{ url_for('placeCreate') }}" name="placecreate" id="placecreate">Agregar un nuevo sitio turístico</a>
    <br><br>

    <a href="{{ url_for('placeModify') }}" name="placemodify" id="placemodify">Modificar un sitio registrado</a>
    <br><br>

    <a href="{{ url_for('placeDelete') }}" name="placedelete" id="placedelete">Eliminar un sitio turístico</a>
    <br><br>
</body>

</html>