<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>

<body>
    <h1>Dashboard</h1>
    <p>This is dashboard
        <!--{{ session["login_user"] }}-->
    </p>

    <input type="number" name="tourid" id="tourid" onchange="cityIdOnChange()">
    <a href="" name="tourLink" id="tourLink" onclick="">go to place</a>
    <br><br>

    <a href="{{ url_for('cityCreate') }}" name="citycreate" id="citycreate">go to city create</a>
    <br><br>

    <a href="{{ url_for('cityModify') }}" name="citymodify" id="citymodify">go to city modify</a>
    <br><br>

    <a href="{{ url_for('cityDelete') }}" name="citydelete" id="citydelete">go to city delete</a>
    <br><br>
</body>

</html>