<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares turísticos</title>
</head>

<body>
    <h1>Lugares turísticos</h1>

    <p>Lugares turísticos que visitar en El Salvador</p>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Departamento</th>
        </tr>
        {% for element in place %}
        <tr>
            <td>{{ element["id"] }}</td>
            <td>{{ element["nombre"] }}</td>
            <td>{{ element["ubicacion"] }}</td>
            <td><img src="{{ element["imagen"] }}"></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
</body>

</html>