<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un lugar</title>
</head>

<body>
    <h1>Agregar un lugar turístico</h1>

    <p>A continuación, llene los datos para agregar un nuevo lugar turístico</p>

    <form action="{{ url_for('placeCreate') }}" method="post">
        <label for="nombre">Lugar Turístico</label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="ubicacion">Ubicación</label>
        <input type="text" name="ubicacion" id="ubicacion">
        <br><br>
        <input type="submit" value="Create">
    </form>
</body>

</html>