<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar lugar</title>
</head>

<body>
    <h1>Modificar lugar</h1>

    <p>A continuación, rellené toda la información necesaria. La información que no quiera mpdificar escríbala tal y la ingresó anteriormente.</p>

    <form action="{{ url_for('placeModify') }}" method="post">
        <label for="tourid">ID:</label>
        <input type="number" name="tourid" id="tourid">
        <br><br>
        <label for="nombre">Nombre del lugar:</label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="ubicacion">Departamento:</label>
        <input type="text" name="ubicacion" id="ubicacion">
        <br><br>
        <input type="submit" value="Modify">
    </form>
</body>

</html>